*.class
.metadata/
TheBoy-ConfigServer/.settings/org.eclipse.core.resources.prefs
*.prefs
TheBoy-ConfigServer/target/classes/config/theboy-uat.properties
TheBoy-ConfigServer/target/classes/
TheBoy-ConfigServer/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
TheBoy-ConfigServer/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
TheBoy-ConfigServer/target/maven-status/
*.classpath
